{% extends "bootstrap/base.html" %} {% import "bootstrap/wtf.html" as wtf %} {%
block title %}入退室管理画面{% endblock %} {% block navbar %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>学年</th>
            <th>組</th>
            <th>番号</th>
            <th>名前</th>
            <th>時刻</th>
            <th>ステータス</th>
        </tr>
    </thead>
    <tbody>
        {% for p in persons %}
        <tr>
            <th>{{p.idm}}</th>
            <th>{{p.grade}}</th>
            <th>{{p.class}}</th>
            <th>{{p.atdNum}}</th>
            <td>{{p.name}}</td>
            <td>{{p.datetime}}</td>
            {% if not p.status %}
            <th class="danger">退室中</th>
            {% else %}
            <th class="success">入室中</th>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<button onclick="location.href='/name'" class="btn btn-success btn-default btn-block">新規登録</button>
<script>
    setInterval(() => {
        location.reload()
    }, 500)
</script>
{% endblock %}
